@model ReservationListViewModel

@if (TempData["ReservationDeleted"] != null)
{
    <p class="text-success">@TempData["ReservationDeleted"]</p>
}

@if (!Model.Reservations.Any())
{
    <p>No results</p>
}
else
{
    @foreach (var reservationFilter in Model.Reservations)
    {
        @if (Model.Restaurants.Contains(reservationFilter.RestaurantId.ToString()))
        {
            continue;
        }
        Model.Restaurants.Add(reservationFilter.RestaurantId.ToString());

        <div class="mb-3">
            <label asp-for="@reservationFilter.RestaurantName" class="form-label"></label>
            <input asp-for="@reservationFilter.RestaurantName" type="text" class="form-control" disabled />
        </div>

        <table class="table table-condensed table-bordered">
            <tr>
                <th>
                    Date and Time
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var reservation in Model.Reservations)
            {
                @if (reservation.RestaurantId == reservationFilter.RestaurantId)
                {
                    <tr>
                        <td>@reservation.date.ToLocalTime()</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@reservation.Id.ToString()">Edit</a>
                            <a asp-action="Delete" asp-route-id="@reservation.Id.ToString()">Delete</a>
                        </td>
                    </tr>
                }
            }

        </table>

        <a class="btn btn-primary" asp-controller="Reservation" asp-action="Add" asp-route-restaurantId="@reservationFilter.RestaurantId.ToString()">Add new reservation for Restaurant : @reservationFilter.RestaurantName</a>

    }
}